// Variables

// colors
$foam-color: #FFF7E8;
$light-foam-color: #FFFBF3;
$crema-color: #CFAB71;
$roast-color: #7F5E35;
$espresso-color: #713105;
$grounds-color: #4F351C;
$noir-color: #341100;

//spaces
$space-xl: 4rem; //64px
$space-lg: 2rem; //32px
$space-md: 1rem; //16px
$space-sm: 0.5rem; //8px

//font
$font: "Inter", sans-serif;

/* Body */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Header */

header ul {
    margin: 0;
}


header hgroup h1 {
    margin-bottom: $space-lg;
}


header hgroup p {
    margin-bottom: $space-xl;
}


header {
    background: #7F5E35;
    background: linear-gradient(180deg, rgba(127, 94, 53, 1) 0%, rgba(113, 49, 5, 1) 100%);
    padding-inline: $space-xl;
}


.nav,
.hero-section {
    max-width: 1140px;
    margin-inline: auto;
}


.nav {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding: 0;
    gap: $space-lg;
}

nav a {
    padding-bottom: $space-sm;
}

nav a:hover {
    border-bottom: 3px solid $foam-color;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: clamp(2rem, 6vw, 10rem);
    justify-content: space-between;
    padding-top: $space-xl;
    padding-bottom: 8rem;
}

.wf-button {
    background-color: $foam-color;
    color: $roast-color;
    padding: $space-md $space-xl;
    border-radius: $space-lg;
    font-size: 1.5rem;
    border: none;
    font-family: $font;
    font-weight: bold;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: $space-xl;
    padding-block: $space-xl;
}

.container {
    max-width: 1140px;
    margin-inline: auto;
}

.flex-section {
    display: flex;
    justify-content: space-between;
    gap: $space-lg;
}

/* Footer */

.footer-ref-item {
    color: $foam-color;
    font-weight: 300;
}

/* Create workflow */

.create-wf-nav {
    display: flex;
    justify-content: space-between;
    padding: $space-md 0;
    max-width: 1140px;
    margin-inline: auto;
}